volumes:
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      device: /home/data/mariadb
      o: bind
      type: none
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      device: /home/data/wordpress
      o: bind
      type: none



services:
  nginx:
    image: nginx:inception
    container_name: nginx
    build: ./requirements/nginx/
    env_file:
      - .env
    ports:
      - "443:443"
    depends_on:
      - wordpress
    volumes:
      - wordpress:/var/www/wordpress
    restart: always
    networks:
      - inception
  mariadb:
    image: mariadb:inception
    container_name: mariadb
    build: ./requirements/mariadb/
    env_file:
      - .env
    ports:
      - "3306:3306"
    restart: always
    volumes:
      - mariadb:/var/lib/mysql 
    networks:
      - inception
  wordpress:
    image: wordpress:inception
    container_name: wordpress
    build: ./requirements/wordpress/
    depends_on:
      - mariadb
    env_file :
      - .env
    volumes:
      - wordpress:/var/www/wordpress
    networks:
      - inception
    restart: always

networks:
  inception:
    driver: bridge
    name: inception

# should add health check for wp to check if mariadb is ready